@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    font-family: "Rubik", sans-serif;
    background-color: rgb(36, 34, 34);
    color: #fff;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {

    height: 45px;
    width: 45px;
}

.container {
    background-color: rgb(63, 56, 63);
    border-radius: 10px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    max-width: 80%;
}

.profile {
    margin-top: 10px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid blueviolet;
}

a {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px 5px;
    border-radius: 5px;
    text-decoration: none;
    width: 200px;
    color: white;
    margin: 20px 0;
    background-color: rgb(83, 80, 80);

}